.card{
    border:1px solid rgb(227, 209, 209);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(28, 16, 16);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;

}
.card .card-image{
    max-width: 50%;
    height:auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: bisque;
}
.card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}